.box{
  width: 275px;
  height: 200px;
  margin: 0 5px;
  margin-top: 5rem;
  transition: .3s ease-in-out;
}

// .overlay{
//   position: absolute;
//   background: black;
//   width: 91.2%;
//   height: 100%;
//   z-index: 10;
//   opacity: 0;
//   left: 12px;
//   border-radius: 10px;
// }

/*.overlay:hover{
  opacity: 0.8;
  transform: scale(1.1);
  transition: .3s ease-in-out;
}
*/
.box:hover .video{
  transform: scale(1.1);
}

.video{
  transition: .3s ease-in-out;
  border-radius: 10px;
}